# Summary of Notebook
## Left joined angers_size with fish stocking data
## Null values were replaced with 0 because a null value after the merge meant the species was not stocked for that particular year
## New dataframe has years 1994 - 2019
## New dataframe continues to have 8158 records
## Exported as csv
## Saved as anglers_size_stocking_combined

# Importing libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

# Importing Dataframe

In [2]:
#import csv master angler & sizes dataframe
df_anglers = pd.read_csv(r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers\02 Data\Prepared\anglers_size_combined.csv', index_col=False)
path = r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers'
df_anglers = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'anglers_size_combined.csv'), index_col=False)

# Doing a quick check of dataframe

In [3]:
df_anglers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8158 entries, 0 to 8157
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     8158 non-null   int64
 1   category                       8158 non-null   object
 2   species                        8158 non-null   object
 3   waterbody                      8158 non-null   object
 4   lake                           8158 non-null   object
 5   merge                          8158 non-null   object
 6   datetime                       8158 non-null   object
 7   date caught                    8158 non-null   object
 8   time caught                    8158 non-null   object
 9   year                           8158 non-null   int64
 10  weight lbs                     8158 non-null   float64
 11  length in                      8158 non-null   float64
 12  method                         8158 non-null   object
 13  bait                           8158 non-null   object
 14  angler's name                  8158 non-null   object
 15  city                           8158 non-null   object
 16  state                          8158 non-null   object
 17  time hour caught               8158 non-null   int64
 18  state minimum length (inches)  8158 non-null   float64
 19  state record (pounds)          8158 non-null   float64
dtypes: float64(4), int64(3), object(13)
memory usage: 1.2+ MB

In [4]:
#need to remove unnamed
df_anglers = df_anglers.drop('Unnamed: 0', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_23668\403731148.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_anglers = df_anglers.drop('Unnamed: 0', 1)

In [5]:
df_anglers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8158 entries, 0 to 8157
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   category                       8158 non-null   object
 1   species                        8158 non-null   object
 2   waterbody                      8158 non-null   object
 3   lake                           8158 non-null   object
 4   merge                          8158 non-null   object
 5   datetime                       8158 non-null   object
 6   date caught                    8158 non-null   object
 7   time caught                    8158 non-null   object
 8   year                           8158 non-null   int64
 9   weight lbs                     8158 non-null   float64
 10  length in                      8158 non-null   float64
 11  method                         8158 non-null   object
 12  bait                           8158 non-null   object
 13  angler's name                  8158 non-null   object
 14  city                           8158 non-null   object
 15  state                          8158 non-null   object
 16  time hour caught               8158 non-null   int64
 17  state minimum length (inches)  8158 non-null   float64
 18  state record (pounds)          8158 non-null   float64
dtypes: float64(4), int64(2), object(13)
memory usage: 1.2+ MB

In [6]:
df_anglers.head()

,category,species,waterbody,lake,merge,datetime,date caught,time caught,year,weight lbs,length in,method,bait,angler's name,city,state,time hour caught,state minimum length (inches),state record (pounds)
0,Catch and Keep,atlantic salmon,Lake Huron,HU,lk_huron,7/4/1994 12:30,7/4/1994,12:30:00,1994,13.31,28.00,Trolling,Silver Streak,Eric K. Klei,Redford,Michigan,12,32.0,32.63
1,Catch and Keep,brown trout,Lake Huron,HU,lk_huron,8/10/1994 9:00,8/10/1994,9:00:00,1994,19.31,34.00,Trolling,Silver Streak,Paul J. Gunnels,Greenbush,Michigan,9,24.0,41.45
2,Catch and Keep,chinook salmon,Lake Huron,HU,lk_huron,7/24/1994 15:45,7/24/1994,15:45:00,1994,27.75,36.50,Trolling,Silver King Artic,Phillip Warren,Brentwood,Michigan,15,39.0,47.54
3,Catch and Keep,round whitefish-menomine,Lake Huron,HU,lk_huron,3/21/1994 14:45,3/21/1994,14:45:00,1994,1.25,17.00,Still Fishing,Corn,No Name,Harrisville,Michigan,14,15.0,4.00
4,Catch and Keep,lake trout,Lake Superior,SU,lk_sup,7/6/1994 9:00,7/6/1994,9:00:00,1994,34.50,42.13,Trolling,Avery Spoon,Kurt Marjonen,Gwinn,Michigan,9,34.0,61.50

# Importing fish stocking dataframe

In [7]:
#import csv fish stocking dataframe
df_stocking = pd.read_csv(r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers\02 Data\Original\3fish stocking data.csv')
path = r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers'
df_stocking = pd.read_csv(os.path.join(path, '02 Data', 'Original', '3fish stocking data.csv'))

In [8]:
df_stocking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            589 non-null    int64
 1   species         589 non-null    object
 2   number_stocked  589 non-null    int64
dtypes: int64(2), object(1)
memory usage: 13.9+ KB

# Doing a Left Merge

In [9]:
#need to do a left join with anglers on left and stocking on right using species as the way to merge
df_merged = df_anglers.merge(df_stocking, on = (['year','species']), how = 'left', indicator = True)

# Checking Results

In [10]:
df_merged.head()

,category,species,waterbody,lake,merge,datetime,date caught,time caught,year,weight lbs,...,method,bait,angler's name,city,state,time hour caught,state minimum length (inches),state record (pounds),number_stocked,_merge
0,Catch and Keep,atlantic salmon,Lake Huron,HU,lk_huron,7/4/1994 12:30,7/4/1994,12:30:00,1994,13.31,...,Trolling,Silver Streak,Eric K. Klei,Redford,Michigan,12,32.0,32.63,39074.0,both
1,Catch and Keep,brown trout,Lake Huron,HU,lk_huron,8/10/1994 9:00,8/10/1994,9:00:00,1994,19.31,...,Trolling,Silver Streak,Paul J. Gunnels,Greenbush,Michigan,9,24.0,41.45,2411757.0,both
2,Catch and Keep,chinook salmon,Lake Huron,HU,lk_huron,7/24/1994 15:45,7/24/1994,15:45:00,1994,27.75,...,Trolling,Silver King Artic,Phillip Warren,Brentwood,Michigan,15,39.0,47.54,7435405.0,both
3,Catch and Keep,round whitefish-menomine,Lake Huron,HU,lk_huron,3/21/1994 14:45,3/21/1994,14:45:00,1994,1.25,...,Still Fishing,Corn,No Name,Harrisville,Michigan,14,15.0,4.00,NaN,left_only
4,Catch and Keep,lake trout,Lake Superior,SU,lk_sup,7/6/1994 9:00,7/6/1994,9:00:00,1994,34.50,...,Trolling,Avery Spoon,Kurt Marjonen,Gwinn,Michigan,9,34.0,61.50,5011563.0,both

In [11]:
#checking the shape
df_merged.shape

(8158, 21)

In [12]:
# checking the rows merged on species
df_merged['_merge'].value_counts()

both          6880
left_only     1278
right_only       0
Name: _merge, dtype: int64

In [13]:
#seeing where data is missing
df_merged.isnull().sum()

category                            0
species                             0
waterbody                           0
lake                                0
merge                               0
datetime                            0
date caught                         0
time caught                         0
year                                0
weight lbs                          0
length in                           0
method                              0
bait                                0
angler's name                       0
city                                0
state                               0
time hour caught                    0
state minimum length (inches)       0
state record (pounds)               0
number_stocked                   1278
_merge                              0
dtype: int64

#this can make sense... not all species may have been stocked

#I need to see if the species are probably not stocked

In [14]:
df_null = df_merged[df_merged.isna().any(axis=1)]

In [15]:
df_null.head()

,category,species,waterbody,lake,merge,datetime,date caught,time caught,year,weight lbs,...,method,bait,angler's name,city,state,time hour caught,state minimum length (inches),state record (pounds),number_stocked,_merge
3,Catch and Keep,round whitefish-menomine,Lake Huron,HU,lk_huron,3/21/1994 14:45,3/21/1994,14:45:00,1994,1.25,...,Still Fishing,Corn,No Name,Harrisville,Michigan,14,15.0,4.00,NaN,left_only
26,Catch and Keep,pink salmon,Lake Huron,HU,lk_huron,7/31/1994 9:15,7/31/1994,9:15:00,1994,4.50,...,Trolling,Spoon,Patricia Kelbaugh,Alpena,Michigan,9,21.0,8.56,NaN,left_only
36,Catch and Keep,black crappie,Lake Huron,HU,lk_huron,4/18/1994 8:30,4/18/1994,8:30:00,1994,2.02,...,Still Fishing,Minnow,Herman A. Klope,Saginaw,Michigan,8,14.0,4.13,NaN,left_only
41,Catch and Keep,lake herring,Lake Superior,SU,lk_sup,1/26/1994 9:30,1/26/1994,9:30:00,1994,2.72,...,Still Fishing,Swedish Pimple,Jack Dawson,L'Anse,Michigan,9,16.0,6.36,NaN,left_only
43,Catch and Keep,white perch,Lake Huron,HU,lk_huron,5/15/1994 6:30,5/15/1994,6:30:00,1994,0.13,...,Spin Casting,Mepps Spinner,Brian Paquette,Bay City,Michigan,6,10.0,2.00,NaN,left_only

#I did a quick search and the species with NA for number_stocked were not stocked. I will replace NA with 0

# Filling null values with zero because the species of fish were not stocked that year

In [16]:
df_merged['number_stocked'] = df_merged['number_stocked'].fillna(0)

In [17]:
#seeing where data is missing
df_merged.isnull().sum()

category                         0
species                          0
waterbody                        0
lake                             0
merge                            0
datetime                         0
date caught                      0
time caught                      0
year                             0
weight lbs                       0
length in                        0
method                           0
bait                             0
angler's name                    0
city                             0
state                            0
time hour caught                 0
state minimum length (inches)    0
state record (pounds)            0
number_stocked                   0
_merge                           0
dtype: int64

#no null values

In [18]:
#need to drop the _merged column
#need to remove _merge
df_merged = df_merged.drop('_merge', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_23668\2661567793.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_merged = df_merged.drop('_merge', 1)

In [19]:
df_merged.head()

,category,species,waterbody,lake,merge,datetime,date caught,time caught,year,weight lbs,length in,method,bait,angler's name,city,state,time hour caught,state minimum length (inches),state record (pounds),number_stocked
0,Catch and Keep,atlantic salmon,Lake Huron,HU,lk_huron,7/4/1994 12:30,7/4/1994,12:30:00,1994,13.31,28.00,Trolling,Silver Streak,Eric K. Klei,Redford,Michigan,12,32.0,32.63,39074.0
1,Catch and Keep,brown trout,Lake Huron,HU,lk_huron,8/10/1994 9:00,8/10/1994,9:00:00,1994,19.31,34.00,Trolling,Silver Streak,Paul J. Gunnels,Greenbush,Michigan,9,24.0,41.45,2411757.0
2,Catch and Keep,chinook salmon,Lake Huron,HU,lk_huron,7/24/1994 15:45,7/24/1994,15:45:00,1994,27.75,36.50,Trolling,Silver King Artic,Phillip Warren,Brentwood,Michigan,15,39.0,47.54,7435405.0
3,Catch and Keep,round whitefish-menomine,Lake Huron,HU,lk_huron,3/21/1994 14:45,3/21/1994,14:45:00,1994,1.25,17.00,Still Fishing,Corn,No Name,Harrisville,Michigan,14,15.0,4.00,0.0
4,Catch and Keep,lake trout,Lake Superior,SU,lk_sup,7/6/1994 9:00,7/6/1994,9:00:00,1994,34.50,42.13,Trolling,Avery Spoon,Kurt Marjonen,Gwinn,Michigan,9,34.0,61.50,5011563.0

# Checking the stats

In [20]:
df_merged.describe()

,year,weight lbs,length in,time hour caught,state minimum length (inches),state record (pounds),number_stocked
count,8158.000000,8158.000000,8158.000000,8158.000000,8158.000000,8158.000000,8.158000e+03
mean,2005.730081,15.357064,29.975603,11.863079,27.640108,29.587368,3.420921e+06
std,8.497753,10.149196,9.467446,4.533288,9.145738,19.830557,5.408161e+06
min,1994.000000,0.130000,9.000000,0.000000,9.000000,1.800000,0.000000e+00
25%,1999.000000,5.660000,21.630000,9.000000,21.000000,9.980000,8.040000e+03
50%,2003.000000,15.000000,32.000000,11.000000,29.000000,30.560000,1.796218e+06
75%,2015.000000,22.980000,38.000000,15.000000,34.000000,47.540000,4.008250e+06
max,2019.000000,61.500000,52.000000,23.000000,40.000000,61.500000,3.085132e+07

# Exporting the new dataframe

In [21]:
#exporting the merged anglers/state minimum requirements/stocking as a csv
df_merged.to_csv(os.path.join(path, '02 Data','Prepared', 'anglers_size_stocking_combined.csv'))