# Importing libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

In [2]:
#import csv master angler dataframe
df_anglers = pd.read_csv(r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers\02 Data\Prepared\anglers_cleaned.csv', index_col=False)
path = r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers'
df_anglers = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'anglers_cleaned.csv'), index_col=False)

In [3]:
df_anglers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8158 entries, 0 to 8157
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        8158 non-null   int64
 1   category          8158 non-null   object
 2   species           8158 non-null   object
 3   waterbody         8158 non-null   object
 4   lake              8158 non-null   object
 5   merge             8158 non-null   object
 6   datetime          8158 non-null   object
 7   date caught       8158 non-null   object
 8   time caught       8158 non-null   object
 9   year              8158 non-null   int64
 10  weight lbs        8158 non-null   float64
 11  length in         8158 non-null   float64
 12  method            8158 non-null   object
 13  bait              8158 non-null   object
 14  angler's name     8158 non-null   object
 15  city              8158 non-null   object
 16  state             8158 non-null   object
 17  time hour caught  8158 non-null   int64
dtypes: float64(2), int64(3), object(13)
memory usage: 1.1+ MB

In [4]:
df_anglers.head()

,Unnamed: 0,category,species,waterbody,lake,merge,datetime,date caught,time caught,year,weight lbs,length in,method,bait,angler's name,city,state,time hour caught
0,0,Catch and Keep,atlantic salmon,Lake Huron,HU,lk_huron,7/4/1994 12:30,7/4/1994,12:30:00,1994,13.31,28.00,Trolling,Silver Streak,Eric K. Klei,Redford,Michigan,12
1,1,Catch and Keep,brown trout,Lake Huron,HU,lk_huron,8/10/1994 9:00,8/10/1994,9:00:00,1994,19.31,34.00,Trolling,Silver Streak,Paul J. Gunnels,Greenbush,Michigan,9
2,2,Catch and Keep,chinook salmon,Lake Huron,HU,lk_huron,7/24/1994 15:45,7/24/1994,15:45:00,1994,27.75,36.50,Trolling,Silver King Artic,Phillip Warren,Brentwood,Michigan,15
3,3,Catch and Keep,round whitefish-menomine,Lake Huron,HU,lk_huron,3/21/1994 14:45,3/21/1994,14:45:00,1994,1.25,17.00,Still Fishing,Corn,No Name,Harrisville,Michigan,14
4,4,Catch and Keep,lake trout,Lake Superior,SU,lk_sup,7/6/1994 9:00,7/6/1994,9:00:00,1994,34.50,42.13,Trolling,Avery Spoon,Kurt Marjonen,Gwinn,Michigan,9

In [5]:
#need to remove unnamed
df_anglers = df_anglers.drop('Unnamed: 0', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_15384\403731148.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_anglers = df_anglers.drop('Unnamed: 0', 1)

In [6]:
df_anglers.head()

,category,species,waterbody,lake,merge,datetime,date caught,time caught,year,weight lbs,length in,method,bait,angler's name,city,state,time hour caught
0,Catch and Keep,atlantic salmon,Lake Huron,HU,lk_huron,7/4/1994 12:30,7/4/1994,12:30:00,1994,13.31,28.00,Trolling,Silver Streak,Eric K. Klei,Redford,Michigan,12
1,Catch and Keep,brown trout,Lake Huron,HU,lk_huron,8/10/1994 9:00,8/10/1994,9:00:00,1994,19.31,34.00,Trolling,Silver Streak,Paul J. Gunnels,Greenbush,Michigan,9
2,Catch and Keep,chinook salmon,Lake Huron,HU,lk_huron,7/24/1994 15:45,7/24/1994,15:45:00,1994,27.75,36.50,Trolling,Silver King Artic,Phillip Warren,Brentwood,Michigan,15
3,Catch and Keep,round whitefish-menomine,Lake Huron,HU,lk_huron,3/21/1994 14:45,3/21/1994,14:45:00,1994,1.25,17.00,Still Fishing,Corn,No Name,Harrisville,Michigan,14
4,Catch and Keep,lake trout,Lake Superior,SU,lk_sup,7/6/1994 9:00,7/6/1994,9:00:00,1994,34.50,42.13,Trolling,Avery Spoon,Kurt Marjonen,Gwinn,Michigan,9

In [7]:
#import csv fish sizes dataframe
df_sizes = pd.read_csv(r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers\02 Data\Prepared\sizes_cleaned.csv')
path = r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers'
df_sizes = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'sizes_cleaned.csv'))

In [8]:
df_sizes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     51 non-null     int64
 1   species                        51 non-null     object
 2   state minimum length (inches)  51 non-null     float64
 3   state record (pounds)          51 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.7+ KB

In [9]:
#need to remove unnamed
df_sizes = df_sizes.drop('Unnamed: 0', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_15384\829851208.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_sizes = df_sizes.drop('Unnamed: 0', 1)

In [10]:
df_sizes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   species                        51 non-null     object
 1   state minimum length (inches)  51 non-null     float64
 2   state record (pounds)          51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [11]:
#need to do a left join with anglers on left and sizes on right using species as the way to merge
df_merged = df_anglers.merge(df_sizes, on = (['species']), how = 'left', indicator = True)

In [12]:
df_merged.head()

,category,species,waterbody,lake,merge,datetime,date caught,time caught,year,weight lbs,length in,method,bait,angler's name,city,state,time hour caught,state minimum length (inches),state record (pounds),_merge
0,Catch and Keep,atlantic salmon,Lake Huron,HU,lk_huron,7/4/1994 12:30,7/4/1994,12:30:00,1994,13.31,28.00,Trolling,Silver Streak,Eric K. Klei,Redford,Michigan,12,32.0,32.63,both
1,Catch and Keep,brown trout,Lake Huron,HU,lk_huron,8/10/1994 9:00,8/10/1994,9:00:00,1994,19.31,34.00,Trolling,Silver Streak,Paul J. Gunnels,Greenbush,Michigan,9,24.0,41.45,both
2,Catch and Keep,chinook salmon,Lake Huron,HU,lk_huron,7/24/1994 15:45,7/24/1994,15:45:00,1994,27.75,36.50,Trolling,Silver King Artic,Phillip Warren,Brentwood,Michigan,15,39.0,47.54,both
3,Catch and Keep,round whitefish-menomine,Lake Huron,HU,lk_huron,3/21/1994 14:45,3/21/1994,14:45:00,1994,1.25,17.00,Still Fishing,Corn,No Name,Harrisville,Michigan,14,15.0,4.00,both
4,Catch and Keep,lake trout,Lake Superior,SU,lk_sup,7/6/1994 9:00,7/6/1994,9:00:00,1994,34.50,42.13,Trolling,Avery Spoon,Kurt Marjonen,Gwinn,Michigan,9,34.0,61.50,both

In [13]:
#checking the shape
df_merged.shape

(8158, 20)

#number of records as expected

In [14]:
# checking the rows merged on species
df_merged['_merge'].value_counts()

both          8158
left_only        0
right_only       0
Name: _merge, dtype: int64

In [15]:
#seeing where data null
#seeing if any data is missing
df_merged.isnull().sum()

category                         0
species                          0
waterbody                        0
lake                             0
merge                            0
datetime                         0
date caught                      0
time caught                      0
year                             0
weight lbs                       0
length in                        0
method                           0
bait                             0
angler's name                    0
city                             0
state                            0
time hour caught                 0
state minimum length (inches)    0
state record (pounds)            0
_merge                           0
dtype: int64

In [16]:
#need to remove _merge
df_merged = df_merged.drop('_merge', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_15384\221753974.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_merged = df_merged.drop('_merge', 1)

In [17]:
df_merged.head()

,category,species,waterbody,lake,merge,datetime,date caught,time caught,year,weight lbs,length in,method,bait,angler's name,city,state,time hour caught,state minimum length (inches),state record (pounds)
0,Catch and Keep,atlantic salmon,Lake Huron,HU,lk_huron,7/4/1994 12:30,7/4/1994,12:30:00,1994,13.31,28.00,Trolling,Silver Streak,Eric K. Klei,Redford,Michigan,12,32.0,32.63
1,Catch and Keep,brown trout,Lake Huron,HU,lk_huron,8/10/1994 9:00,8/10/1994,9:00:00,1994,19.31,34.00,Trolling,Silver Streak,Paul J. Gunnels,Greenbush,Michigan,9,24.0,41.45
2,Catch and Keep,chinook salmon,Lake Huron,HU,lk_huron,7/24/1994 15:45,7/24/1994,15:45:00,1994,27.75,36.50,Trolling,Silver King Artic,Phillip Warren,Brentwood,Michigan,15,39.0,47.54
3,Catch and Keep,round whitefish-menomine,Lake Huron,HU,lk_huron,3/21/1994 14:45,3/21/1994,14:45:00,1994,1.25,17.00,Still Fishing,Corn,No Name,Harrisville,Michigan,14,15.0,4.00
4,Catch and Keep,lake trout,Lake Superior,SU,lk_sup,7/6/1994 9:00,7/6/1994,9:00:00,1994,34.50,42.13,Trolling,Avery Spoon,Kurt Marjonen,Gwinn,Michigan,9,34.0,61.50

In [18]:
df_merged.describe()

,year,weight lbs,length in,time hour caught,state minimum length (inches),state record (pounds)
count,8158.000000,8158.000000,8158.000000,8158.000000,8158.000000,8158.000000
mean,2005.730081,15.357064,29.975603,11.863079,27.640108,29.587368
std,8.497753,10.149196,9.467446,4.533288,9.145738,19.830557
min,1994.000000,0.130000,9.000000,0.000000,9.000000,1.800000
25%,1999.000000,5.660000,21.630000,9.000000,21.000000,9.980000
50%,2003.000000,15.000000,32.000000,11.000000,29.000000,30.560000
75%,2015.000000,22.980000,38.000000,15.000000,34.000000,47.540000
max,2019.000000,61.500000,52.000000,23.000000,40.000000,61.500000

In [20]:
#exporting the merged anglers/state minimum requirements as a csv
df_merged.to_csv(os.path.join(path, '02 Data','Prepared', 'anglers_size_combined.csv'))